<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><b>Add student</b></p>
<form action="/add_student"  th:object="${student}" method="post" >
    Name: <input type=text name="name" th:field="*{name}">
    <br>
    Age:  <input type=number name="age" th:field="*{age}">
    <br>
    <button type="submit" value="Submit">ADD</button>
</form>
<br>
<a th:href="'/'">К списку</a>

</body>
</html>