<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Students</h1>

<table th:border="1" th:cellspacing="4" th:width="200">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="student : ${studentList}">
        <td th:text="${student.id}" th:align="center">Id</td>
        <td th:text="${student.name}" th:align="center">Name</td>
        <td th:text="${student.age}" th:align="center">Age</td>
    </tr>
</table>
<br>
<a th:href="'/add_student'">Добавление студента</a>
<a th:href="'/delete_student'">Удаление студента</a>
<a th:href="'/update_student'">Обновить студента</a>
</body>
</html>